.port-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.port-title {
  font-size: xx-large;
  border-top: solid 2px;
  padding-top: 1rem;
  width: 65rem;
  color: var(--main-color);
}
.port-desc {
  margin: 1rem;
  width: 50%;
  font-size: large;
  color: black;
}
