.about {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.about-all {
  width: 70%;
}
.about-title {
  font-size: xx-large;
  color: #00cfe8;
  margin: 2rem;
}
.about-img {
  width: 50%;
}
.about-pic {
  width: 10rem;
  border-radius: 5px;
  box-shadow: 19px 19px 15px -3px rgba(0, 0, 0, 0.1);
}
.about-text {
  width: 50%;
  font-size: larger;
}
@media screen and (max-width: 768px) {
  .about-desc {
    flex-direction: column;
  }
  .about-text {
    margin-top: 1rem;
    width: 100%;
  }
}
