/* Nav.css */
.nav {
  height: 4rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.3s; /* Ajoutez une transition pour une animation fluide du changement de couleur */
}
.nav-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: large;
  margin-left: 5rem;
}
.button:hover {
  color: black;
  cursor: pointer;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: #b291f3b4;
  z-index: 100;
}

.nav-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-photo {
  width: 5rem;
  height: 10rem;
}

.nav-img {
  width: auto;
  height: auto;
}
@media screen and (max-width: 768px) {
  .nav-elements {
    flex-direction: column;
    text-align: center;
  }

  .button {
    margin: 1rem 0.5rem; /* Ajoutez une marge entre les boutons */
  }
}
